langchain-community
pypdf
langchain_experimental
langchain_openai
fastembed
qdrant_client
langchain_qdrant
langchain_groq
langchain_google_genai
fastmcp
psycopg2-binary
langgraph
langchain
fastapi
uvicorn
pytest
pytest-mock